:root {
  --max-width: 1240px;
  --font-family: Arial, Helvetica, sans-serif;
  --primary-color: #31417e;
  --primary-light-color: #ff9b20;
  --border-color: #e6e6e6;
  --text-light-color: #999;
  --text-dark-color: #212121;
  --bg-light-color: #f2f2f2;
  --white-color: #fff;
  --full-percent: 100%;
  --base-radius: 5px;
  --side-margin: 0 10px;
  --card-margin: 0 10px 10px 10px;
  --base-transition-linear: all 0.2s linear;
}